* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

img {
    width: 100%;
}

body {
    background-color: gray;
}

main {
    display: flex;
    flex-direction: column;
    gap: 140px;
    background-color: #040714;
}



   
.cta {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(//cnbl-cdn.bamgrid.com/assets/2cefea02ab968e8f5d0a01b8b9456c578faab6a35808c1c4472546b0a369181e/original);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
 

    .login-button {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 21%;

        a {
            margin-right: 25px; 
            margin-top: 7px;
            font-size: 1.25em;
            text-decoration: none;
            color:white;
            background-color: rgba(0, 0, 0, 0.9);
            padding: 15px 18px 15px 18px;
            border: 2px solid #a7a8a9;
            border-radius: 5px;

            &:hover {
                background-color: white;
                color: black;
            }
           
        }
    }

.cta-wrapper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .cta-wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

        h1 {
            font-size: 39px;
            font-weight: bolder;
            color: white;
        }

        .big {
            font-size: 1.3em;
            color: white
        }

        .header-desc {
            color: #a7a8a9;
        }
        
        .email {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 0;
            width: 60%;
            border-radius: 5px; 
            overflow: hidden; 
          
            input {
              padding-top: 20px;
              padding-bottom: 10px;
              border: none; 
              border-radius: 0; 
              background-color: #31343e;
              padding-bottom: 20px;
            }
          
            button {
              border: none; 
              background-color: #02d6e8;
              color: #02172a;
              font-size: 1.2em;

              &:hover {
                background-color: #02b6c5;
                color: black;
              }
              
            }
          }

          .slimmer-text {
            font-size: 1.1em;
            color: #a7a8a9;
          }

          .small {
            font-size: 0.87em;
            color: #a7a8a9;
          }

          img {
            width: 50%;
          }
          

    }
}
  
}

#movies {
    background-image: url(https://cnbl-cdn.bamgrid.com/assets/47f99bd583c0815bce8727d1e891897cf4f8606584f9430102b1ceb940142739/original);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;


    .movies-wrapper {
        display: flex;
        flex-direction: column;
        gap: 29px;
        margin-top: 10%;
        margin-left: 40px;
        
    h2 {
        font-size: 36px;   
       }
   
       p {
           color: #a7a8a9;
       }
   
       .copyright {
           color: #a7a8a9;
           font-size: 0.75em;
       }
       
    }
}

.plans-table {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;

    h2 {
        font-size: 36px;
    }

    .table-wrapper {
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        

        table {
            border-collapse: collapse;
            font-size: 16px;
            text-align: left;
            position: relative;
          
            td,
            th {
              padding: 30px 20px;
            //   border-bottom: 1px solid gray;
              text-align: center;
            }
          
            thead {
              border-bottom: 1px solid white;
              position: sticky;
          
              .highlight {
                background-color: #1d1f2b;
          
                a {
                  text-decoration: none;
                  text-transform: uppercase;
                  background-color: #02d6e8;
                  color: #02172a;
                  font-size: 1.2em;
                  padding: 15px 55px;
                  border-radius: 5px;
                  border-bottom: none;
                  
                  &:hover {
                    background-color: #02b6c5;
                    color: black;
                  }
                }
              }
          
              .highlight-1 {
                background-color: #1d1f2b;
                font-size: 0.9em;
                
              }

              .gray-smaller-txt {
                font-size: 0.9em;
                color: #a7a8a9;
              }
          
              a {
                text-decoration: none;
                text-transform: uppercase;
                background-color: #136878;
                color: rgb(182, 182, 182);
                font-size: 1.2em;
                padding: 15px 55px;
                border-radius: 5px;
                display: inline-block;
                border-bottom: none; 

                &:hover {
                    background-color: #105866;
                    color: #a7a8a9;
                  }
              }
              th,
              td {
                padding: 15px 20px;
              }
            }
          
            tbody {
                border-bottom: 1px solid gray;

                
            td,
            th {
                border-bottom: 1px solid gray;
            }

                td {
                    color: #bfbfbf;
                }

                .bigger-txt {
                    font-size: 1em;
                    color: white;
                    text-decoration: none;
                }

                .highlight-2 {
                    font-size: 1em;
                    color: #a7a8a9;

                    
                    
                }

                .bigger-gray-txt {
                    color: #bfbfbf;
                    
                }

                .gray-txt {
                    color: #a7a8a9;
                }

              img {
                width: 30px;
                display: block; 
                margin: 0 auto;
              }
          
              a {
                color: white;
                border-bottom: none; 
              }
          
              tr {
                &:last-child td {
                  border-bottom: none; 
                }
              }
          
              .highlight-2 {
                background-color: #1d1f2b;
              }
            }
          }
          
    }

    .conditions {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 0.8em;
        color: #a7a8a9;

        a {
            color: #a7a8a9;
            font-weight: bold;
        }

    }
}

.watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 60px;

    .part-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1800px;
        gap: 20px;

        h2 {
            font-size: 36px;
        }

        p {
            color: #a7a8a9;
        }
        
    }

    .part-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 90px;

        .icons-txt-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            text-align: center;

        .blue-icons {
            
            img {
                width: 120px;
            }
        }
    }
    }


}

.section-5 {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: center;
    color: white;

    h2 {
        font-size: 36px;
        font-weight: bold;
    }

    .faq-section {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        

        details {
            background-color: #13151d;
            padding: 14px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            

            
            summary {
                font-size: 1.2em;
                color: white;
                cursor: pointer;
                list-style: none; 
                font-weight: bolder;
                
            }

            .faq-span {
                color: #a7a8a9;
                font-size: 1em;
               

            }

            ul,
            ol {
                color: #a7a8a9;
                font-size: 16px;
                padding: 0 24px;

                li {
                    margin-top: 18px;
                    margin-bottom: 18px;

                }
            }

            a {
                color: #a7a8a9;
                text-decoration: underline;
            }
        }
    }
}


.section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    h2 {
        font-size: 36px;
        font-weight: bold;
    }

    .compatibility-wrapper {
        display: flex;
        flex-direction: row;

        .compatibility-column-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .column-element-wrapper {
                display: flex;
                flex-direction: column;
                gap: 6px;
                align-items: center;
                color: #a7a8a9;
            }

            .c-column-element-1 {
                font-weight: bolder;
                font-size: 1.2em;
            }

            img {
                width: 100%;
            }
        }
    }
}

footer {
    background-color: #0e0b14;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;


// here

    .footer-wrapper {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 80%;
    
    

    a {
        color: #dcdcdd;
        text-decoration: none;
        font-size: 0.8em;
    }

    span {
        color: #dcdcdd;
        text-decoration: none;
        font-size: 1em;
    }

    .footer-column-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;

                    //learn-more-wrapper controls first row wrapper columns as a parent element
        .learn-more-wrapper {            
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 10px;
            

            .f-elements-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                
            }
        }
    }




    .footer-row-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        

        img {
            width: 30px;
        }

        a {
            font-size: 1em;
        }
    }

    .copyright {
        color: #a7a8a9;
        font-size: 0.75em;
    }
}
}