* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
}

body {
  background-color: gray;
}

main {
  display: flex;
  flex-direction: column;
  gap: 140px;
  background-color: #040714;
}

.cta {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(//cnbl-cdn.bamgrid.com/assets/2cefea02ab968e8f5d0a01b8b9456c578faab6a35808c1c4472546b0a369181e/original);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .cta {
    background-image: url(//cnbl-cdn.bamgrid.com/assets/e816dfd005541ed9dda496c45bfaf4e5bf0492c276368f95fa02903c4c203ad6/original);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
  }
}
@media (max-width: 599px) {
  .cta {
    background-image: url(//cnbl-cdn.bamgrid.com/assets/475b89a387cd78419de4706b445864482e80fd1412670d5ef855ddfd41976400/original);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
  }
}
.cta .login-button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 21%;
}
@media (max-width: 1600px) {
  .cta .login-button {
    padding-bottom: 30%;
  }
}
.cta .login-button a {
  margin-right: 25px;
  margin-top: 7px;
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 15px 18px 15px 18px;
  border: 2px solid #a7a8a9;
  border-radius: 5px;
}
.cta .login-button a:hover {
  background-color: white;
  color: black;
}
.cta .cta-wrapper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta .cta-wrapper-wrapper .cta-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.cta .cta-wrapper-wrapper .cta-wrapper h1 {
  font-size: 39px;
  font-weight: bolder;
  color: white;
}
.cta .cta-wrapper-wrapper .cta-wrapper .big {
  font-size: 1.3em;
  color: white;
}
.cta .cta-wrapper-wrapper .cta-wrapper .header-desc {
  color: #a7a8a9;
}
.cta .cta-wrapper-wrapper .cta-wrapper .email {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0;
  width: 60%;
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .cta .cta-wrapper-wrapper .cta-wrapper .email {
    width: 70%;
  }
}
@media (max-width: 1199px) {
  .cta .cta-wrapper-wrapper .cta-wrapper .email {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cta .cta-wrapper-wrapper .cta-wrapper .email {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  .cta .cta-wrapper-wrapper .cta-wrapper .email :nth-child(1) {
    grid-column: 1/3;
  }
  .cta .cta-wrapper-wrapper .cta-wrapper .email :nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
.cta .cta-wrapper-wrapper .cta-wrapper .email input {
  padding-top: 20px;
  padding-bottom: 10px;
  border: none;
  border-radius: 0;
  background-color: #31343e;
  padding-bottom: 20px;
}
.cta .cta-wrapper-wrapper .cta-wrapper .email button {
  border: none;
  background-color: #02d6e8;
  color: #02172a;
  font-size: 1.2em;
}
.cta .cta-wrapper-wrapper .cta-wrapper .email button:hover {
  background-color: #02b6c5;
  color: black;
}
.cta .cta-wrapper-wrapper .cta-wrapper .slimmer-text {
  font-size: 1.1em;
  color: #a7a8a9;
}
.cta .cta-wrapper-wrapper .cta-wrapper .small {
  font-size: 0.87em;
  color: #a7a8a9;
}
.cta .cta-wrapper-wrapper .cta-wrapper img {
  width: 50%;
}

#movies {
  background-image: url(https://cnbl-cdn.bamgrid.com/assets/47f99bd583c0815bce8727d1e891897cf4f8606584f9430102b1ceb940142739/original);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  color: white;
  position: relative;
}
#movies .movies-wrapper {
  display: flex;
  flex-direction: column;
  gap: 29px;
  position: absolute;
  top: 15%;
  left: 5%;
}
@media (max-width: 1199px) {
  #movies .movies-wrapper {
    width: 50%;
    top: 10%;
  }
}
@media (max-width: 839px) {
  #movies .movies-wrapper {
    width: 50%;
    top: 3%;
  }
}
@media (max-width: 768px) {
  #movies .movies-wrapper {
    position: relative;
    top: 20%;
  }
}
#movies .movies-wrapper h2 {
  font-size: 36px;
}
#movies .movies-wrapper p {
  color: #a7a8a9;
}
#movies .movies-wrapper .copyright {
  color: #a7a8a9;
  font-size: 0.75em;
}

.plans-table {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}
.plans-table h2 {
  font-size: 36px;
}
.plans-table .table-wrapper {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plans-table .table-wrapper table {
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  position: relative;
}
.plans-table .table-wrapper table td,
.plans-table .table-wrapper table th {
  padding: 30px 20px;
  text-align: center;
}
.plans-table .table-wrapper table thead {
  border-bottom: 1px solid white;
  position: sticky;
}
.plans-table .table-wrapper table thead .highlight {
  background-color: #1d1f2b;
}
.plans-table .table-wrapper table thead .highlight a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #02d6e8;
  color: #02172a;
  font-size: 1.2em;
  padding: 15px 55px;
  border-radius: 5px;
  border-bottom: none;
}
.plans-table .table-wrapper table thead .highlight a:hover {
  background-color: #02b6c5;
  color: black;
}
.plans-table .table-wrapper table thead .highlight-1 {
  background-color: #1d1f2b;
  font-size: 0.9em;
}
.plans-table .table-wrapper table thead .gray-smaller-txt {
  font-size: 0.9em;
  color: #a7a8a9;
}
.plans-table .table-wrapper table thead a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: #136878;
  color: rgb(182, 182, 182);
  font-size: 1.2em;
  padding: 15px 55px;
  border-radius: 5px;
  display: inline-block;
  border-bottom: none;
}
.plans-table .table-wrapper table thead a:hover {
  background-color: #105866;
  color: #a7a8a9;
}
.plans-table .table-wrapper table thead th,
.plans-table .table-wrapper table thead td {
  padding: 15px 20px;
}
.plans-table .table-wrapper table tbody {
  border-bottom: 1px solid gray;
}
.plans-table .table-wrapper table tbody td,
.plans-table .table-wrapper table tbody th {
  border-bottom: 1px solid gray;
}
.plans-table .table-wrapper table tbody td {
  color: #bfbfbf;
}
.plans-table .table-wrapper table tbody .bigger-txt {
  font-size: 1em;
  color: white;
  text-decoration: none;
}
.plans-table .table-wrapper table tbody .highlight-2 {
  font-size: 1em;
  color: #a7a8a9;
}
.plans-table .table-wrapper table tbody .bigger-gray-txt {
  color: #bfbfbf;
}
.plans-table .table-wrapper table tbody .gray-txt {
  color: #a7a8a9;
}
.plans-table .table-wrapper table tbody img {
  width: 30px;
  display: block;
  margin: 0 auto;
}
.plans-table .table-wrapper table tbody a {
  color: white;
  border-bottom: none;
}
.plans-table .table-wrapper table tbody tr:last-child td {
  border-bottom: none;
}
.plans-table .table-wrapper table tbody .highlight-2 {
  background-color: #1d1f2b;
}
.plans-table .conditions {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.8em;
  color: #a7a8a9;
}
.plans-table .conditions a {
  color: #a7a8a9;
  font-weight: bold;
}

.watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 60px;
}
.watch .part-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  gap: 20px;
}
.watch .part-1 h2 {
  font-size: 36px;
}
.watch .part-1 p {
  color: #a7a8a9;
}
.watch .part-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 90px;
}
.watch .part-2 .icons-txt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
.watch .part-2 .icons-txt-wrapper .blue-icons img {
  width: 120px;
}

.section-5 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
  color: white;
}
.section-5 h2 {
  font-size: 36px;
  font-weight: bold;
}
.section-5 .faq-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.section-5 .faq-section details {
  background-color: #13151d;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-5 .faq-section details summary {
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  list-style: none;
  font-weight: bolder;
}
.section-5 .faq-section details .faq-span {
  color: #a7a8a9;
  font-size: 1em;
}
.section-5 .faq-section details ul,
.section-5 .faq-section details ol {
  color: #a7a8a9;
  font-size: 16px;
  padding: 0 24px;
}
.section-5 .faq-section details ul li,
.section-5 .faq-section details ol li {
  margin-top: 18px;
  margin-bottom: 18px;
}
.section-5 .faq-section details a {
  color: #a7a8a9;
  text-decoration: underline;
}

.section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.section-6 h2 {
  font-size: 36px;
  font-weight: bold;
}
.section-6 .compatibility-wrapper {
  display: flex;
  flex-direction: row;
}
.section-6 .compatibility-wrapper .compatibility-column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section-6 .compatibility-wrapper .compatibility-column-1 .column-element-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  color: #a7a8a9;
}
.section-6 .compatibility-wrapper .compatibility-column-1 .c-column-element-1 {
  font-weight: bolder;
  font-size: 1.2em;
}
.section-6 .compatibility-wrapper .compatibility-column-1 img {
  width: 100%;
}

footer {
  background-color: #0e0b14;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 80%;
}
footer .footer-wrapper a {
  color: #dcdcdd;
  text-decoration: none;
  font-size: 0.8em;
}
footer .footer-wrapper span {
  color: #dcdcdd;
  text-decoration: none;
  font-size: 1em;
}
footer .footer-wrapper .footer-column-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
footer .footer-wrapper .footer-column-wrapper .learn-more-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}
footer .footer-wrapper .footer-column-wrapper .learn-more-wrapper .f-elements-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-wrapper .footer-row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
footer .footer-wrapper .footer-row-1 img {
  width: 30px;
}
footer .footer-wrapper .footer-row-1 a {
  font-size: 1em;
}
footer .footer-wrapper .copyright {
  color: #a7a8a9;
  font-size: 0.75em;
}/*# sourceMappingURL=disney-part-2.css.map */